<div class = "search-container">

                <form ng-controller="searchController" ng-submit="submit()" class = "searchArea"> 
  			
                  <ng-model ="text" placeholder ="Enter Game Title..."
                  name ="title"/> 
                  <a ng-href="#results/{{ text }}">
                    <div id="submit-button" input type ="submit" value = "Submit"> Enter </div>
                  </a> 

                  <div class="card effect__random" data-id="1">
  <div class="card__front">
    <span class="card__text"><img src="http://www.mobygames.com/images/covers/l/307552-rocket-league-playstation-4-front-cover.jpg"</span>
  </div>
  <div class="card__back">
    <span class="card__text"><img src="http://file.2000fun.com/forum/201403/05/021846g5caacag0sacanq0.jpg"</span>
  </div>
</div>
<div class="card effect__random" data-id="2">
  <div class="card__front">
    <span class="card__text"><img src="http://www.projectcarsgame.com/uploads/2/0/6/5/20658008/9115069_orig.png"</span>
  </div>
  <div class="card__back">
    <span class="card__text"><img src="http://orig11.deviantart.net/b2c3/f/2015/057/e/c/dark_souls_2__the_lost_crowns_by_weabb-d851fpm.png"</span>
  </div>
</div>
<div class="card effect__random" data-id="3">
  <div class="card__front">
    <span class="card__text"><img src="http://www.e-athlete.net/uploads/gallery/album_16/med_gallery_3_16_98857.jpg"</span>
  </div>
  <div class="card__back">
    <span class="card__text"><img src="http://images.8tracks.com/cover/i/008/648/080/maxresdefault-8459.jpg"</span>
  </div>
</div>
<div class="card effect__random" data-id="4">
  <div class="card__front">
    <span class="card__text"><img src="http://lohafzar.com/129-large_default/devil-may-cry-4-special-edition.jpg"</span>
  </div>
  <div class="card__back">
    <span class="card__text"><img src="http://i.ytimg.com/vi/9sztWWoEcVQ/maxresdefault.jpg"</span>
  </div>
</div>
<div class="card effect__random" data-id="5">
  <div class="card__front">
    <span class="card__text"><img src="http://vignette1.wikia.nocookie.net/gamingdatabase/images/e/ee/Ultra-street-fighter-iv-cover.jpg/revision/latest?cb=20140515171316"</span>
  </div>
  <div class="card__back">
    <span class="card__text"><img src="http://assets.vg247.com/current//2015/05/steins_gate.jpg"</span>
  </div>
</div>
    <div class="card effect__random" data-id="6">
  <div class="card__front">
    <span class="card__text"><img src="http://www.mobygames.com/images/covers/large/1410466131-00.jpg"</span>
  </div>
  <div class="card__back">
    <span class="card__text"><img src="http://www.mobygames.com/images/covers/l/291303-minecraft-xbox-360-edition-playstation-3-front-cover.jpg"</span>
  </div>
</div>
 <div class="card effect__random" data-id="7">
  <div class="card__front">
    <span class="card__text"><img src="http://www.mobygames.com/images/covers/l/274542-terraria-ps-vita-front-cover.jpg"</span>
  </div>
  <div class="card__back">
    <span class="card__text"><img src="http://media.vandal.net/m/26402/final-fantasy-xiv-heavensward-2015625111631_1.jpg"</span>
  </div>
</div>
<div class="card effect__random" data-id="8">
  <div class="card__front">
    <span class="card__text"><img src="http://40.media.tumblr.com/532786aa20490b98e15b24a0511d84e8/tumblr_nh0fgvvcmJ1qzp9weo1_1280.jpg"</span>
  </div>
  <div class="card__back">
    <span class="card__text"><img src="http://anti-grav.net/wp-content/uploads/Splatoon-Front-Cover.jpg"</span>
  </div>
</div>
<div class="card effect__random" data-id="9">
  <div class="card__front">
    <span class="card__text"><img src="http://cdn.shopify.com/s/files/1/0184/7850/files/20150331062814_EA_Sports_PGA.jpg?286946246812261768"</span>
  </div>
  <div class="card__back">
    <span class="card__text"><img src="https://www.licente-jocuri.ro/image/data/covers/the_elder_scrolls_online_tamriel_unlimited_pc__1.jpg"</span>
  </div>
</div> 
<div class="card effect__random" data-id="10">
  <div class="card__front">
    <span class="card__text"><img src="http://im.ziffdavisinternational.com/ign_tr/screenshot/default/10628334-10152429597119331-324784127291303734-n_gnuc.jpg"</span>
  </div>
  <div class="card__back">
    <span class="card__text"><img src="http://www.mobygames.com/images/covers/l/304429-final-fantasy-x-x-2-hd-remaster-playstation-3-front-cover.jpg"</span>
  </div>
</div>    
                </form>


</div> 