 *{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif
}

.header{
	height:8vh;
	width:100%;
	background-color:black;
	color:orange;
	font-style: strong;
	font-size:40px;
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	box-shadow:2px;
	display: inline-block;
}
.header-1{
	color:black;
	display: inline-block;
	position: relative;
	text-decoration: none;
}
.header-1 a{
	color:orange;
	text-decoration: none;
	font-weight:bold;
}


.container{
	height:100vh;
	width:100%;
	display: inline-block;
	background-image: url("libs/vidrevbackground.png");) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	overflow:scroll;
	
	background-repeat: none;
}

.metacritic-container{
	height:82vh;
	width:13%;
	overflow:scroll;
	margin-left:86px;
	display: inline-block;
	color:white;
	font-size:9px;
	margin-bottom:20px;
	opacity:0.6;
	vertical-align: top;
}

.metacritic-container:hover{
	opacity: 1.0
}

.youtube-container{
	width:38%;
	height:85vh;
	display: inline-block;
	margin-left:25px;
	color:white;
	vertical-align: top;
	position:absolute;
	overflow:scroll;
}


.twitch-container{
	width:38%;
	height:85vh;
	display: inline-block;
	margin-left:508px;
	color:white;
	vertical-align: top;
	position:absolute;
	overflow:scroll;
}

.twitch-panel{
	margin-left:4px;
	top:0;
	left:0;
	position:relative;
	display:inline-block;
}

#player{
	display: inline-block;
	vertical-align: top;
	width:25%;
	position: relative;
}

.critic-header{
	width:13%;
}

.youtube-panel{
	margin-left:4px;
	top:0;
	left:0;
	position:relative;
	display:inline-block;
}

.more-reviews{
	margin-bottom:25px;
}

.critic{
	font-size:15px;
}

.score{
	font-size:20px;
	text-align: center;
	border-radius:3px;
}

.orange{
	background-color:green;
	width:19%;
	font-family:strong;
}
.yellow{
	background-color:RGB(227, 133, 20);
	color:white;
	width:19%;
	font-family:strong;
}
.red{
	background-color:red;
	width:19%;
	font-family:strong;
}

.twitch-pic{
	width:400px;
	height:360px;
}

#submit-button{
	display:none;
}

.search-container{
	height:100vh;
	width:100%;
	display: inline-block;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	overflow:scroll;
	background-repeat: none;
	background-image: url("libs/vidrevbackground.png");) no-repeat center center fixed;
}

.searchArea{
	display: inline-block;
}


/* Front Page */

.panel-container{
  margin-left: 150px;
  text-align: center;
}

.slogan-container{
  margin-top: 55px;
  width: 60%;
  padding: 0;
}

.slogan{
  text-align: left;
  color: orange;
}

h1{
  font-size: 45px;
}

.paragraph1{
  font-size: 15px;
  margin-bottom: 25px;
}

#gamepanel{
  width: 1000px;
}

.card {
  position: relative;
  float: left;
  padding-bottom: 20%;
  height: 0px;
  width: 200px;
  margin-bottom: 50px
}

.card__front, 
.card__back {
  /*change to relative to cascade tiles*/
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.9s;
          transition: transform 0.9s;
        
}

.card__back {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.card.effect__random.flipped .card__front {
	  width:200px;
          height:auto;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.card.effect__random.flipped .card__back {
	  width:200px;
          height:auto;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.front{
    width:200px;
    height:250px;
}

.twitch-pic{
	width:480px;
	height:360px;
}
.twitch-logo{
	height:51px;
	width:324px;
}

@media only screen and (max-width:1255px){
		/*if screen gets larger then 960px, it will not display*/
	.metacritic-container{
	display:none;
	}
	.critic-header{
		display: none;
	}
	.youtube-container{
	width:38%;
	height:85vh;
	display: inline-block;
	margin-left:164px;
	margin-top:57px;
	color:white;
	vertical-align: top;
	position:absolute;
	overflow:scroll;
	}
	.twitch-container{
	width:38%;
	height:85vh;
	display: inline-block;
	margin-left:580px;
	margin-top:57px;
	color:white;
	vertical-align: top;
	position:absolute;
	overflow:scroll;
	}
}


.search-box{
	width: 450px;
    position: relative;
    height: 25px;
    margin-left: 500px;
}

.metacritic-logo{
	width:150px;
	height:50px;
	margin-left:90px;
}
.youtube-logo{
	height:51px;
	width:324px;
}

.footer-container{
	background-image: url("libs/vidrevbackground.png");) no-repeat center center fixed;
 	color:white;
}
.searchPic{
    position: absolute;
    z-index: 2;
    margin-left: 900px;
    margin-top: 8px;
  }

.youtube-review{
	width:100%;
}