 *{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif
}

.header{
	height:10vh;
	width:100%;
	background-color:black;
	color:orange;
	font-style: strong;
	font-size:40px;
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	box-shadow:2px;
	display: inline-block;
}
.header-1{
	color:black;
	display: inline-block;
	position: relative;
	text-decoration: none;
}
.header-1 a{
	color: orange;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}


.container{
	height:88vh;
	width:100%;
	display: inline-block;
	background-image: url("libs/vidrevbackground.png");) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	overflow:scroll;
	
	background-repeat: none;
}

.metacritic-container{
	height:82vh;
	width:13%;
	overflow:scroll;
	margin-left:2%;
	display: inline-block;
	color:white;
	font-size:13px;
	margin-bottom:20px;
	opacity:0.6;
	vertical-align: top;
}

.metacritic-container:hover{
	opacity: 1.0
}

.youtube-container{
	width:38%;
	height:85vh;
	display: inline-block;
	margin-left:25px;
	color:white;
	vertical-align: top;
	overflow:scroll;
}


.twitch-container{
	width:38%;
	height:85vh;
	display: inline-block;
	/*margin-left:508px;*/
	color:white;
	vertical-align: top;
	overflow:scroll;
}

.twitch-panel{
	margin-left:4px;
	top:0;
	left:0;
	position:relative;
	display:inline-block;
}

#player{
	display: inline-block;
	vertical-align: top;
	width:25%;
	position: relative;
}

.critic-header{
	width:100%;
	display: inline-block;

}

.youtube-panel{
	margin-left:4px;
	top:0;
	left:0;
	
	display:inline-block;
}

.more-reviews{
	margin-bottom:25px;
}

.critic{
	font-size:15px;
}

.score{
	font-size:20px;
	text-align: center;
	border-radius:3px;
}

.orange{
	background-color:green;
	width:19%;
	font-family:strong;
}
.yellow{
	background-color:RGB(227, 133, 20);
	color:white;
	width:19%;
	font-family:strong;
}
.red{
	background-color:red;
	width:19%;
	font-family:strong;
}

.twitch-pic{
	width:400px;
	height:360px;
}

#submit-button{
	display:none;
}

.search-container{
	height:88vh;
	width:200%;
	display: inline-block;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	overflow:scroll;
	background-repeat: none;
	background-image: url("libs/vidrevbackground.png");) no-repeat center center fixed;
}

.searchArea{
	display: inline-block;
	vertical-align: top;
	margin-top:9px;
	margin-left:0.5%;
	
}


/* Front Page */

.panel-container{
  margin-left: 150px;
  text-align: center;
}

.slogan-container{
  width: 100%;
  padding: 0;
}

.slogan{
  text-align: left;
  color: orange;
}

h1{
    font-size: 45px;
    margin-left: 22%;
    width: 50%;
}
.front-container{
	width:100%;
}

.paragraph1{
    font-size: 15px;
    margin-left: 22%;
    width: 52%;
    margin-bottom: 20px;
}

#gamepanel{
  width: 1000px;
}

.card {
  position: relative;
  float: left;
  padding-bottom: 20%;
  height: 0px;
  width: 200px;
  margin-bottom: 50px
}

.card__front, 
.card__back {
  /*change to relative to cascade tiles*/
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.9s;
          transition: transform 0.9s;
        
}

.card__back {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.card.effect__random.flipped .card__front {
	  width:200px;
          height:auto;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.card.effect__random.flipped .card__back {
	  width:200px;
          height:auto;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.front{
    width:200px;
    height:250px;
}

.twitch-pic{
	width:480px;
	height:360px;
}
.twitch-logo{
	height:36px;
	margin-left:33%;
}
.area{
	font-size: 0;
	margin-top:10px;
}
.searchPic{
    display: inline-block;
    vertical-align: top;
    height:25px;
}



.search-box{
	width: 250px;
    /*position: relative;*/
    vertical-align: top;
    display: inline-block;
    height: 23px;
    margin-left: 700px;
    font-size:14px;
}

.metacritic-logo{
	width:98px;
	height:50px;
}
.youtube-logo{
	height:36px;
	margin-left:12%;
}

.footer-container{
 	color:white;
 	display: inline-block;
    width: 105%;
    background-color: black;
    font-size:33px;
}


.youtube-review{
	width:100%;
}

.playbox{
	position: relative;
}

.pb{
	position: absolute;
	z-index: 1;
	color: white;
	top:150px;
	left: 200px;

}
.singlePlayBox{
	position: absolute;
	width:480px;
	z-index: 1;
	height:360px;
}
.twitch-button{
	background-color:rgba(0,0,0,0.5);
	border-radius:5px;	
	height:20%;
	width:24%;
}
.twitch-button img{
	height:100%;
	width:100%;
}
.twitch-button:hover{
	background-color:red;
	cursor:pointer;
}


.steve{
	text-align: right;
	margin-left:35%;
}

.review-container{
	width: 100%;
	padding: 2px;
}

.another-container{
	font-size:0px;
	height:100%;
	width:105%;
}
.twitter-handle{
	color:#62ACF1;
}

@media only screen and (max-width:1161px){
	.search-box{
	width: 200px;
    /*position: relative;*/
    vertical-align: top;
    display: inline-block;
    height: 23px;
    margin-left: 650px;
    font-size:14px;
}


}
@media only screen and (max-width:1041px){
		/*if screen gets larger then 960px, it will not display*/
	.metacritic-container{
	display:none;
	}
	.critic-header{
		display: none;
	}
	.youtube-container{
		width:100%;
		height:85vh;
		display: block;
		margin-left:10px;
		margin-top:57px;
		color:white;
		overflow:scroll;
	}
	.twitch-container{
		width:100%;
		height:85vh;
		display:block;
		margin-left:10px;
		margin-top:57px;
		color:white;
		overflow:scroll;
	}
	.searchPic{
    display: inline-block;
    vertical-align: top;
    height:25px;
    font-size:14px;
	}

	.search-box{
	width: 200px;
    /*position: relative;*/
    vertical-align: top;
    display: inline-block;
    height: 23px;
    margin-left: 300px;
    font-size:14px;
	}
}